nav ul { list-style:none; padding:6px; background:#f2f2f2; }
nav li { display:inline; margin-right:10px; }
body {
  background: lightgray;
  margin: 10px;
}
h1 {
  color: darkred;
  font-size: 30px;
}
nav {
  background: white;
}
section {
  border: 1px solid black;
  padding: 10px;
}
